<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FNAF.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BF9468771C07A26C00E8FDAC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BF9468881C07A26C00E8FDAC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BF9468931C07A26C00E8FDAC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
